
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
	letter-spacing:1px;
    color:#fff;
   
}
p{
padding:20px;
}

section
{
padding:50px 20px 25px 20px;
}
h2
{

font-size:60px;

}

p {
    
    line-height:30px;
    margin-bottom:35px;
}
hr {
    border-top: 1px solid rgb(27, 106, 131);
margin: 0px 100px 0px 100px
}
/* =============================================================
   NAVBAR STYLES
 ============================================================ */
.navbar-inverse {
background-color: rgb(27, 106, 131);
border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: transparent;
border-bottom: 4px solid rgba(0, 231, 222, 0.72);


}
.navbar-inverse .navbar-nav > li > a {
color: #FFF;
font-size: 13px;
font-weight: 800;
padding: 10px;
letter-spacing: 2px;
margin:10px 5px 10px 5px;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/* =============================================================
   HOME STYLES
 ============================================================ */
#home {
    text-align:center;
    padding-bottom:50px;
}
#home i {
    margin:5px;
}
#home h1 {
text-transform:uppercase;
    padding-top:120px;
    font-size:60px;
    font-weight:900;
    color:#fff;
    line-height:80px;
    padding-bottom:5px;
}
/*SLIDER STYLES*/
#carousel-slider {
    color:#fff; 
    min-height:420px;
    padding:30px 20px 5px 20px; 
}
    .carousel-control.left {
left: 0;
right: auto;
background-repeat: repeat-x;
background-image: linear-gradient(to left,rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
}
.carousel-control.right {
right: 0;
left: auto;
background-repeat: repeat-x;
background-image: linear-gradient(to right,rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
}
.carousel-indicators li {
    border:5px solid #FFF;
    width:20px;
    height:20px;
}
.carousel-indicators .active {
    border:5px solid rgba(0, 231, 222, 0.72);
    width:20px;
    height:20px;
	background-color:transparent;
    
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* =============================================================
   BUTTON STYLES
 ============================================================ */

.custom-btn-1 {
    border-radius:0px;
    background-color:transparent;
    border:2px solid rgba(0, 231, 222, 0.72);
    margin:5px;
    color:#fff;
}
    .custom-btn-1:hover {
         color:#fff;
          background-color:rgba(0, 0, 0,  0.42);
    }

/* =============================================================
   CONTACT STYLES
 ============================================================ */
  #contact  .form-control{
background-color:transparent;
}
#contact label {
    padding:15px;
}
  /* =============================================================
   FOOTER STYLES
 ============================================================ */
.footer {
    text-align:right;
    color:#fff;
    background-color:rgb(27, 106, 131);
    padding:20px;
}



#timeLine {
    width: 1000px;
    margin: 100px auto;
    /*border:  solid 1px #434343;*/
    /*background: rgba(500,500,500,0.9);*/
    overflow: hidden;
}

#yearList {
    width: 100%;
    list-style: none;
    position: relative;
    /*left: 457px;*/
    margin-left: 457px;
}

    #yearList:after, .container-li:after {
        content: "";
        display: table;
        clear: both;
    }

    #yearList li {
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 21px;
        padding: 10px 20px;
    }

.year-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #002f21;
    margin: 10px auto;
    display: block;
}

.dotted-line {
    border-bottom: dashed 2px #7b7d7b;
    position: relative;
    top: -26px;
    z-index: -1;
}

#cList {
    width: 100%;
    position: relative;
}

#btnLeft {
    width: 50px;
    height: 130px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 180px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 120px;
    background: rgba(0,0,0,0.3);
}

#btnRight {
    width: 50px;
    height: 130px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 180px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 120px;
    background: rgba(0,0,0,0.3);
}

    #btnLeft:hover, #btnRight:hover {
        background: rgba(0,0,0,0.5);
    }

#cUl {
    width: 850px;
    list-style: none;
    height: 400px;
    margin: 0 auto;
    position: relative;
    left: 0px;
}

    #cUl li {
        width: 850px;
        position: absolute;
        left: 0;
    }

.li-tit {
    display: inline-block;
    color: #fff;
    background-color: #002f21;
    padding: 10px 20px;
    margin: 30px auto 10px;
}

.container-li {
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #434343;
}

.c-li-left {
    width: 40%;
    float: left;
}

.c-li-right {
    width: 60%;
    float: right;
}

.year-active {
    color: red;
}

    .year-active i {
        background-color: red;
    }